blinker
click
Flask
flask-cors
Flask-SQLAlchemy
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
typing_extensions
Werkzeug
firebase-admin
python-dotenv
google-generativeai
boto3
botocore
gunicorn
psycopg2-binary
